* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
}

/* Navigation */


#titleContainer {
    background-color: purple;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 600px;
    display: grid;
    justify-items: center;

}

.navigation {
    background-color: rgb(0,0 ,0, 0.7);
    color: white;
    border: 1px solid rgb(0,0 ,0, 0.7);
    border-radius: 5px;
    width: 800px;
    min-width: 700px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;

}

.navigation li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

a :hover {
    box-shadow: 0 0 20px 0 white;
    transition: box-shadow 1s;
}



#titleContainer .title {
    color: white;
    font-size: 2rem;
    margin-top: 275px;
    margin-left: -350px;
    position: absolute;

}

#titleContainer .title span {
    font-weight: bold;
}

#titleContainer .introduction {
    background-color: rgb(0,0 ,0, 0.7);
    width: 500px;
    height: 100px;
    margin-top: 240px;
    margin-right: -450px;
    padding: 20px;
    position: absolute;

}

#titleContainer .introduction p {
    color: white;
    font-size: 1rem;
}


#firstMacro {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 675px;
    background-color: #444444;
}


.firstHeading {

    color: white;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
 
}

.firstTitle {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
}

.firstTitle p{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.firstBreak {
    border-top: 1px solid rgb(255,255,255, 0.5);
    width: 200px;
}

.firstTitle span {
    font-size: 1.1rem;
    padding-top: 10px;
}


.proteinMacro{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    column-gap: 75px;
    justify-content: center;
    padding-top: 140px;
    overflow:hidden;

}

.proteinPic {
    background-image: url("../WebsiteImages/proteinMacro.jpg");
    background-size: cover;
    border: 2px solid black;
    grid-column-start: 1;
    grid-row-start: 1;
}

.proteinPic:hover {
    box-shadow: 0 0 60px 0 black;
    transition: all 1s;
    transform: scale(1.2) ;
}

.proteinInfo {
    background-color: black;
    border: 2px solid black;
    grid-column-start: 2;
    grid-row-start: 1;
}

.proteinInfo:hover {
    box-shadow: 0 0 60px 0 black;
    transition: all 1s;
    transform: scale(1.2);

}

.proteinInfo p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.firstPara {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.lastPara {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}



#secondMacro {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 675px;
    background-color: #2b2b2b;
    margin-top: -38px;
}


.secondHeading {

    color: white;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
 
}

.secondTitle {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
}

.secondTitle p{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.secondBreak {
    border-top: 1px solid rgb(255,255,255, 0.5);
    width: 200px;
}

.secondTitle span {
    font-size: 1.1rem;
    padding-top: 10px;
}



.carbsMacro{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    column-gap: 75px;
    justify-content: center;
    padding-top: 140px;
}

.carbsPic {
    background-image: url("../WebsiteImages/carbsMacro.jpg");
    background-size: cover;
    border: 2px solid black;
    grid-column-start: 2;
    grid-row-start: 1;
}

.carbsPic:hover {
    box-shadow: 0 0 60px 0 white;
    transition: all 1s;
    transform: scale(1.2) ;
}

.carbsInfo {
    background-color: black;
    border: 2px solid black;
    grid-column-start: 1;
    grid-row-start: 1;
}

.carbsInfo:hover {
    box-shadow: 0 0 60px 0 white;
    transition: all 1s;
    transform: scale(1.2);

}
.carbsInfo p {
    color: white;
    font-size: 20px;
    text-align: justify;
}




#thirdMacro {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 675px;
    background-color: #444444;
    margin-top: -38px;
}


.thirdHeading {

    color: white;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
 
}

.thirdTitle {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
}

.thirdTitle p{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.thirdBreak {
    border-top: 1px solid rgb(255,255,255, 0.5);
    width: 200px;
}

.thirdTitle span {
    font-size: 1.1rem;
    padding-top: 10px;
}


.fatsMacro {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    column-gap: 75px;
    justify-content: center;
    padding-top: 140px;
}

.fatsPic {
    background-image: url("../WebsiteImages/fatsMacro.jpg");
    background-size: cover;
    border: 2px solid black;
    grid-column-start: 1;
    grid-row-start: 1;
}

.fatsPic:hover {
    box-shadow: 0 0 60px 0 black;
    transition: all 1s;
    transform: scale(1.2) ;
}

.fatsInfo {
    background-color: black;
    border: 2px solid black;
    grid-column-start: 2;
    grid-row-start: 1;
}

.fatsInfo p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.fatsInfo:hover {
    box-shadow: 0 0 60px 0 black;
    transition: all 1s;
    transform: scale(1.2);

}

#fourthExercise {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 675px;
    background-color: #2b2b2b;
    margin-top: -38px;
}


.fourthHeading {

    color: white;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
 
}

.fourthTitle {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
}

.fourthTitle p{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.fourthBreak {
    border-top: 1px solid rgb(255,255,255, 0.5);
    width: 200px;
}

.fourthTitle span {
    font-size: 1.1rem;
    padding-top: 10px;
}


.theCleanExercise{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    column-gap: 75px;
    justify-content: center;
    padding-top: 140px;

}

.theCleanPic {
    background-image: url("../WebsiteImages/clean.png");
    background-size: cover;
    border: 2px solid black;
    grid-column-start: 2;
    grid-row-start: 1;
}

.theCleanPic:hover {
    box-shadow: 0 0 60px 0 white;
    transition: all 1s;
    transform: scale(1.2) ;
}

.theCleanInfo {
    background-color: black;
    border: 2px solid black;
    grid-column-start: 1;
    grid-row-start: 1;
}

.theCleanInfo p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.theCleanInfo:hover {
    box-shadow: 0 0 60px 0 white;
    transition: all 1s;
    transform: scale(1.2);

}

#contact {
    background-color: #444444;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 600px;
    display: grid;
    justify-content: center;
    align-content: center;
}

#contact p {
    font-size: 1.8rem;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}